## Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/.terraform.lock.hcl
**/crash.log
**/terraform.tfvars

# Include 'tfplan' files to ignore the plan output of command: terraform plan -out=tfplan
**/*tfplan*